<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AAD User Account</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/header.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/body.css') }}">
    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
</head>
<body>

  <!-- NavBar -->
    <div class="header">
        <a href="#" class="logo">Logo</a>
        <div class="header-right">
          <a class="active" href="#home">Create User</a>
          <a href="#">User Info</a>
          <a href="#">Disable User</a>
        </div>
      </div>

  <!-- End NavBar -->


  <!-- Login Details-->
  <div class="container">
    <div class="text-formatting login-left">
      <label for="username">Username - </label>
      <br>
      <label for="password">Password - </label>
      
    </div>
    <div class="login-right">
      <form id="login-credentials" action="/login" formmethod="POST">
      <input class="logininput" type="text" id="username" name="username">
      <br>
      <input class="logininput" type="password" id="password" name="password">
      <button class="center submitbutton" type="submit" form="login-credentials" value="Submit">Submit 2</button>
      </form>
    </div>
  </div>
</body>
</html>